.button-primary-small {
  margin-right: 2px;
}

.msg-form--overlay .msg-form__footer {
  height: auto !important;
  display: block !important;
}

.rr-btn-xs {
  zoom: 0.8;
}

.pv-s-profile-actions--connect span {
  pointer-events: none;
}